mixin festivalList(image, festival, overall, genre, location, dates, website)
	.row
	.col-lg-1
	.col-lg-1.result-block
		h3 !{image}
	.col-lg-2.result-block
		h3 !{festival}
	.col-lg-1.result-block
		h3 !{overall}
	.col-lg-1.result-block
		h3 !{genre}
	.col-lg-2.result-block
		h3 !{location}
	.col-lg-2.result-block
		h3 !{dates}
	.col-lg-1.result-block
		h3 !{website}