mixin festivalList(image, festival, overall, genre, location, dates, website)
	-var festivalPage = "../festival/" + festival
	.row
	.col-lg-1
	.col-lg-1.result-block-md
		
	.col-lg-2.result-block-md
		a(href=festivalPage) !{festival}
	.col-lg-1.result-block-md
		h3 !{overall}
	.col-lg-1.result-block-md
		h3 !{genre}
	.col-lg-2.result-block-md
		h3 !{location}
	.col-lg-2.result-block-md
		h3 !{dates}
	.col-lg-1.result-block-md
		a.btn.btn-default.btn-sm(href=website) Link

mixin festivalTable(image, festival, overall, genre, location, dates, website)
	-var festivalPage = "../festival/" + festival
	tr
		td 
			img.circle(src=image, alternate=image)
		td 
			a(href=festivalPage) !{festival}
		td !{overall}
		td !{genre}
		td !{location}
		td !{dates}
		td
			a.btn.btn-default.btn-sm(href=website) Link
		