mixin userReview(datePosted, sound, security, cost, stars, review, thumbs, title)
	-var datePosted = (typeof datePosted === undefined) ? "May 1, 2017" : datePosted
	//- Edit all of these
	-var sound = (typeof sound === undefined) ? "Bumpin'" : sound
	-var security = (typeof security === undefined) ? "Tight" : security
	//- 
	-var review = (typeof review === undefined) ? "Anon was here" : review
	.row.user-info
		.col-md-4.user-profile.text-info
			img.user-avatar(src="../assets/images/user1avatar.png")
			h6.date-header Date Posted 
				span.date-posted !{datePosted}
			ul#user-other-ratings.text-info
				li.user-other-ratings.text-info Sound: 
					span.festival-sound.text-info !{sound}
				li.user-other-ratings.text-info Security: 
					span.festival-security.text-info !{security}
				li.user-other-ratings.text-info Cost: 
					span.festival-cost.text-info !{cost}
			//- span.divider
		.col-md-8.user-review-container
			h3#user-vibez VIBEZ
			.user-star-ratings
				-for(var i = 0; i < stars; i++){
					i.glyphicon.glyphicon-star(aria-hidden="true")
				-}
				-for(var i = 0; i < (5 - stars); i++){
					i.glyphicon.glyphicon-star-empty(aria-hidden="true")
				-}
			h3 !{title}
			p#user-text-review 
				span !{review}
			span#like-button
				i.glyphicon.glyphicon-thumbs-up 
			.user-tags
				span#user-tag-1 Too hot  
				| 
				span#user-tag-2 Bring shoes
				| 
				span#user-tag-3 Sweet tunes
